<ion-header>
	<ion-toolbar> <ion-title> Upcoming Events </ion-title> </ion-toolbar>
</ion-header>

<ion-content>
	<h1 style="margin-left: 5%">Barista Training Coffee Event</h1>

	<img id="firstimage" src="../../assets/img/coffeeTraining.jpg" />

	<ion-grid>
		<ion-row> <h4>Date: 25th Nov 2018, 12:00pm-14:00pm</h4> </ion-row>
		<ion-row>
			<h4>Location:</h4>
			<p>18 Park Square, Granite Falls, North Carolina 28630</p>
			<img id="eventmap" src="../../assets/img/map.png" />
		</ion-row>

		<ion-row>
			<ion-col>
				<p style="margin-top: 10%">
					Hosted by Social Roast Coffee
				</p></ion-col
			>
		</ion-row>

		<ion-row>
			<ion-col> <h3>Details</h3> </ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<p>
					We are doing a training night with our Baristas where we
					will be practicing our coffee brewing skills for ALL of our
					drinks! We are inviting the public to come in and drink all
					the coffee you want and we WILL be taking request! Help us
					get better and drink great coffee while you do it! $5 at the
					door gets you all the coffee you would like until the event
					is over! We hope to see you!
				</p>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
