<ion-header>
	<ion-toolbar
		style="background-color: #001b3d; color: white;"
		color="navbarColor"
	>
		<ion-title> Upcoming Events </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<img id="firstimage" src="../../assets/img/coffeeTraining.jpg" />

		<ion-card-header>
			<ion-card-title>Barista Training Coffee Event</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<h4>Date: 25th Nov 2018, 12:00pm-14:00pm</h4>
			<br />
			<p>18 Park Square, Granite Falls, North Carolina 28630</p>
			<img id="eventmap" src="../../assets/img/map.png" />

			<p style="margin-left: 10%">## Hosted by Social Roast Coffee ##</p>

			<br />

			<p>
				We are doing a training night with our Baristas where we will be
				practicing our coffee brewing skills for ALL of our drinks! We
				are inviting the public to come in and drink all the coffee you
				want and we WILL be taking request! Help us get better and drink
				great coffee while you do it! $5 at the door gets you all the
				coffee you would like until the event is over! We hope to see
				you!
			</p>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<img src="../../assets/img/christmas.png" />

		<ion-card-header>
			<ion-card-title
				>Secret Families Christmas Charity 2018
			</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<h4>Date: 08th Dec 2018, 06:00am-03:00pm</h4>
			<br />
			<p>13279 E. 126th St, Fishers, Indiana 46037</p>
			<img id="eventmap" src="../../assets/img/map2.png" />

			<p style="margin-left: 10%; margin-top: 10%;">
				## Secret Families Christmas Charity of Hamilton County - in ##
			</p>

			<br />

			<p>
				Secret Families Christmas Charity of Hamilton County provides
				needy families with a complete Christmas - gifts, a Christmas
				tree and ornaments, Christmas dinner, and household and hygiene
				products. They only help a family once, so it's a lift up, not a
				hand out. Volunteers are needed to help us shop, wrap, and
				deliver Christmas to more than 60 families this year! Visit our
				website to learn more or to volunteer:
				http://www.secretfamilieshc.org/volunteer/
			</p>
		</ion-card-content>
	</ion-card>

	<!--
		h1 style="margin-left: 5%">Barista Training Coffee Event</h1>

		<img id="firstimage" src="../../assets/img/coffeeTraining.jpg" />

		<ion-grid>
			<ion-row> <h4>Date: 25th Nov 2018, 12:00pm-14:00pm</h4> </ion-row>
			<ion-row>
				<h4>Location:</h4>
				<p>18 Park Square, Granite Falls, North Carolina 28630</p>
				<img id="eventmap" src="../../assets/img/map.png" />
			</ion-row>

			<ion-row>
				<ion-col>
					<p style="margin-top: 10%">
						Hosted by Social Roast Coffee
					</p></ion-col
				>
			</ion-row>

			<ion-row>
				<ion-col> <h3>Details</h3> </ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<p>
						We are doing a training night with our Baristas where we
						will be practicing our coffee brewing skills for ALL of our
						drinks! We are inviting the public to come in and drink all
						the coffee you want and we WILL be taking request! Help us
						get better and drink great coffee while you do it! $5 at the
						door gets you all the coffee you would like until the event
						is over! We hope to see you!
					</p>
				</ion-col>
			</ion-row>
		</ion-grid
	-->
</ion-content>
