<ion-header>
	<ion-toolbar
		style="background-color: #001b3d; color: white;"
		color="navbarColor"
	>
		<ion-title>Profile</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<h3>Jobs Applied</h3>
	<p>1. first Job</p>
	<p>2. second Job</p>
	<p>3. third Job</p>
	<br />
	<h3>Event Registered</h3>
	<p>1. Event 1</p>
	<p>2. Event 2</p>
	<p>3. Event 3</p>
	<br />

	<h3>My Skills</h3>
	<p>Cooking</p>
	<p>Serving</p>
	<p>Woodworking</p>
	<ion-button expand="full" shape="round" fill="outline"
		>Add Skill</ion-button
	>
	<br />
</ion-content>
