<ion-header>
	<ion-toolbar> <ion-title>upcoming-events</ion-title> </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item *ngFor="let item of items">
		<ion-img
			slot="start"
			style="max-width: 100px; max-height: 70px;"
			src="../../assets/img/walmart.jpg"
		>
		</ion-img>
		<ion-label>
			<h2>Walmart Store Associate</h2>
			<h3>We are looking for people!!!</h3>
			<p>20, Nov 2018(Tu) 1500-2000 $12</p>
		</ion-label>
	</ion-item>
	<!-- starbucks -->
	<ion-item *ngFor="let item of items1">
		<ion-img
			slot="start"
			style="max-width: 90px; max-height: 70px;"
			src="../../assets/img/starbucks.png"
		>
		</ion-img>
		<ion-label>
			<h2>Starbucks Barista</h2>
			<h3>We want you!!</h3>
			<p>20, Nov 2018(Tu) 1300-1600 $12</p>
		</ion-label>
	</ion-item>
	<!-- Purdue -->
	<ion-item *ngFor="let item of items2">
		<ion-img
			slot="start"
			style="max-width: 90px; max-height: 70px;"
			src="../../assets/img/purdue.png"
		>
		</ion-img>
		<ion-label>
			<h2>Purdue Dining Associate</h2>
			<h3>It is a long term job!!</h3>
			<p>20, Nov 2018(Tu) 1300-1700 $12</p>
		</ion-label>
	</ion-item>
</ion-content>
